@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
}


.home-page {
  display: flex;
  
  
}

.profile{
  /*flex: 8;*/
  flex-grow: 1;
  background: #fff8b8;
  display: flex;
  flex-direction: column;
  /*padding: 10px;*/
  
  /*overflow: scroll;*/
  z-index: 1000;
}

.view-cats {
  
  /*flex: 16;*/
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 600px;
}

.about-cat{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /*flex: 9 */
  overflow: scroll;
  
   
  background: rgb(224, 197, 241);
  
  z-index: 1000;
}

.avatar { text-align: center; }

.avatar img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}
.avatar p { 
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(37, 172, 154); 
}

.bio-text{
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
}

.menu{
  margin-top: 20px;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.menu ul li {
  padding: 8px 5px;
  display: flex;
  align-items: center;
}
.menu ul a {
  color: #222222;
  text-decoration: none;
}
.menu ul a:hover li{
  background-color: #fff;
}
.menu ion-icon {
  font-size: 1.45em;
  color: rgb(33, 163, 146);
  margin: 0 10px;
}
.menu ul li p {
  padding: 0px;
  margin: 0px;
}

.topbar{
  display: flex;
  align-items: center;
  padding: 0 10px;
  /*border-bottom: 1px solid #ccc;*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.topbar-icon:hover ion-icon{
  color: #07ABA0;
  cursor: pointer;
}

.topbar-icon ion-icon{
  font-size: 1.8em;
  color: #888;
}

.topbar-icon span{
  background: red;
  color: #fff;
  padding: 2px 4px;
  font-weight: 800;
  font-size: 0.8em;
  border-radius: 2px;
  position: absolute;
  margin-top: 17px;
  margin-left: -10px;
}


.navigation {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  background:rgb(208, 244, 245) ;
}

.navigation-icon{
  background: #9027E2;
  padding: 8px; 
  border-radius: 50%;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
}

.navigation-icon:hover{
  background-color: #9e3bec;
  cursor: pointer;
}

.navigation-icon ion-icon{
  color: #fff;
  font-size: 27px;
}

.image-couple{
  border: 1px solid #ccc;
  flex: 1;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f1f1f1;
}
.image-couple img {
  width: 100%;
  height: 65%;
  flex-grow: 2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
}
.image-couple h3{ 
  font-weight: 800;
  color: rgb(145, 95, 30);
  flex-grow: 1 ;
  margin-top: 5px;
  margin-bottom: 0px;
}
.image-couple p {
  font-weight: 300;
  flex-grow: 1 ;
  margin-top: 0px;
}


.reactions{
  display: flex;
  justify-content: center;
  background:rgb(208, 244, 245) ;
}

.reaction-icon{
  padding: 20px;
  border-radius: 50%;
  margin: 25px 25px;
  opacity: 0.8;
}
.reaction-icon ion-icon{
  font-size: 28px;
  color: #fff;
}

.reaction-icon:hover {
  cursor: pointer;
  opacity: 1;
}


.show-mobile{
  display: none;
}
@media (max-width: 768px){
  .profile{
    display: none;
    margin-top: 58px;
    width: 250px;
    height: 100%;
    position: fixed;
  }
  .about-cat{
    display: none;
    margin-top: 58px;
    width: 250px;
    position: fixed;
    height: 100%;
    right: 0;
  }
  .view-cats{
    margin-left: 0px;
  }
  .show-mobile{
    display: block ;
  }
}

.login{
  width: 300px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  /*padding: 20px;*/
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.login form{
  margin: 30px 20px;
  padding: 0px;
}

.input-custom{
  margin: 15px 0; 
}
.input-custom label{
  width: 100%;
  text-align: left !important;
  float: left;
  margin-bottom: 4px;
  font-family: 'Lato';
  color: #333;
}
.input-custom input {
  width: 100%;
  background: #f2f2f2;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: 'Lato';
  color: #444;
}

.input-custom textarea {
  resize: none;
  width: 100%;
  background: #f2f2f2;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: 'Lato';
  color: #444;
}

.button-primary input {
  cursor: pointer;
  font-size: 1.15em;
  background: #07ABA0;
  color: #fff;
  padding: 6px 85px;
  font-family: 'Lato';
  border-radius: 6px;
  opacity: 0.8;
}

.button-primary input:hover{
  opacity: 1;
}

.signup-link {
  color: #666;
  font-family: 'Lato';
}
.signup-link a {
  margin-left: 15px;
  font-weight: bold;
  color: #9e3bec;
}
.Signupi form{
  margin: 30px 20px;
  padding: 0px;
}
.Signupi{
  width: 400px;
  border: 1px solid #e93dcc;
  background-color: #ffffff;
  border-radius: 5px;
  /*padding: 20px;*/
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.Signupi img{
  width: 50%;
}

.Signupi h2{

  font-family: 'Lato';
  color: rgb(201, 53, 164);
  font-weight:bold
}

.Radioboton {
 display: flex;
 justify-content: space-evenly;
  }

 
.Signap {
  background-color: #d0bddf;
}

.interest-container {
 margin: 30px 10px;

}

.preferences-container {
  margin: 30px 10px;
 
 }

 .preferences-container h3{

  font-weight: 700;
  text-align: center;
  color: rgb(77, 14, 126);
  margin: 8px 0px;
  font-family: 'Lato';
  
 }

 .preferences-container hr{
  font-weight: 50;
  border-color: rgb(193, 72, 223);
 }

 .preferences-age {
   margin: 20px 30px;
 }

 
  .preferences-container form{
    margin: 30px 20px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato';
  }

.interest-container h3{

  font-weight: 700;
  text-align: center;
  color: rgb(77, 14, 126);
  margin: 8px 0px;
 }

 .interest-container hr{
  font-weight: 10;
  border-color: rgb(193, 72, 223);
 }

 
 .interest-container .Interest-box {
   display: flex; 
   flex-wrap: wrap;
 }

 .Interest-one:hover {
  cursor: pointer;
  
}

.Interest-one  {
  border: none;
  
  background-color: #fff;
  padding: 6px 10px;
  font-weight: 500;
  margin: 5px;
}

.loveds h3{

  font-weight: 700;
  text-align: center;
  color: rgb(77, 14, 126);
  margin: 8px 0px;
  font-family: 'Lato';
  
}
.loveds hr{
  font-weight: 100;
  border-color: rgb(193, 72, 223);

 }

 .loveds{
   text-align: center;
 }


 .loveds .avatar{
   margin: 10px 10px;
   float: left;
   
   

 }
 .loveds .avatar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 0px;
 
  
}

.loveds .avatar p { 
  font-weight: 700;
  font-size: 0.8em;
  color: rgb(37, 172, 154); 
  margin-top: 0px;

 
  
}
